<header class="bg-white py-[20px] flex items-center z-10 rounded-b-[30px] sm:rounded-b-[46px] absolute left-0 top-0 w-full">
  <div class="flex flex-wrap gap-y-3 space-x-3 items-center justify-between container">
    <a href="#">
      <img src="./img/header-logo.svg" alt="Logo" class="w-[122px] h-[35px] lg:w-[228.5px] lg:h-[45px] object-contain">
    </a>
    <nav class="hidden md:block">
      <ul class="flex space-x-[20px] lg:space-x-[40px] divide-x [&>*:not(:first-child)]:pl-5 lg:[&>*:not(:first-child)]:pl-10">
        <li class="leading-none">
          <a href="#services" class="text-base lg:text-lg font-semibold text-typo-dark hover:text-primary transition-colors">Послуги</a>
        </li>
        <li class="leading-none">
          <a href="#about" class="text-base lg:text-lg font-semibold text-typo-dark hover:text-primary transition-colors">Про нас</a>
        </li>
        <li class="leading-none">
          <a href="#contacts" class="text-base lg:text-lg font-semibold text-typo-dark hover:text-primary transition-colors">Контакти</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="inline-flex items-center justify-center px-5 py-[15px] hover:bg-white hover:text-primary text-white transition-colors hover:border-primary border border-transparent bg-primary rounded-[5px]">
      <span class="text-sm sm:text-base !leading-tight lg:text-lg font-medium ">Написати нам</span>
    </a>
  </div>
</header>